.formBox {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.formBox h3 {
  font-size: 22px;
}
.inputEl {
  outline: none;
  border: 1.5px solid var(--primary-color);
  padding: 4px 10px;
  width: 100%;
}
.submit,
.inputEl {
  border-radius: 6px;
  height: var(--input-height);
}

.submit {
  background-color: #5c7db1;
  color: white;
  font-weight: 700;
}

.myUrls {
  display: flex;
  justify-content: space-between;
}

.yourShortenUrl p:last-child,
.yourLongenUrl p:last-child {
  overflow-x: hidden;
  background: #ededed;
  padding: 10px;
  border-radius: 6px;
}
.myUrls > * {
  width: 48%;
  border-radius: 6px;
  height: var(--input-height);
  font-weight: 700;
}
.myUrls > button{
  background-color: #5c7db1;
  color: white;
}
.label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 10px;
}
.urlList {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: black;
  font-weight: 700;
  border: 1.5px solid var(--primary-color)
}
